<div class="form form-register">
    <span>
        <div class="desc">Username</div>
        <input type="text" ng-model="username" class="input-text">
    </span>
    <span>
        <div class="desc">E-mail</div>
        <input type="email" ng-model="email" class="input-text">
    </span>
    <span>
        <div class="desc">Password</div>
        <input type="password" ng-model="password" class="input-text">
    </span>
    <span>
        <div class="desc">Confirm</div>
        <input type="password" ng-model="passwordConfirm" class="input-text">
    </span>
    <button ng-click="register();" class="btn-form">Register</button>
</div>